<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Inherits="EntityCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="EF Entity" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\Common" %>
<%@ Assembly Name="Generator.QuickStart" Path="..\Common" %>
<%@ Assembly Name="Generator.Microsoft.Frameworks" Path="..\Common" %>
<%@ Assembly Name="Xml.Schema.Linq" Path="..\Common" %>

<%@ Property Optional="False" Name="ScopeService" Type="System.String" Category="2.Common" Description="Tên dịch vụ" %>

<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>


Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.28307.421
MinimumVisualStudioVersion = 10.0.40219.1
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=ScopeService %>.API", "<%=ScopeService %>.API\<%=ScopeService %>.API.csproj", "{AB34B576-1571-4E08-B194-4BC3C146BFB6}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=ScopeService %>.Service", "<%=ScopeService %>.Service\<%=ScopeService %>.Service.csproj", "{88F142C2-4DA2-454C-AE31-E5F9591931AB}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=ScopeService %>.Repository", "<%=ScopeService %>.Repository\<%=ScopeService %>.Repository.csproj", "{99CFD9C5-FDCE-4B77-B1E2-6ACBE640A956}"
EndProject
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<%=ScopeService %>.DataContext", "<%=ScopeService %>.DataContext\<%=ScopeService %>.DataContext.csproj", "{F8599B1B-0F1F-4B5D-ACF7-B02B3D439532}"
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{AB34B576-1571-4E08-B194-4BC3C146BFB6}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{AB34B576-1571-4E08-B194-4BC3C146BFB6}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{AB34B576-1571-4E08-B194-4BC3C146BFB6}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{AB34B576-1571-4E08-B194-4BC3C146BFB6}.Release|Any CPU.Build.0 = Release|Any CPU
		{88F142C2-4DA2-454C-AE31-E5F9591931AB}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{88F142C2-4DA2-454C-AE31-E5F9591931AB}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{88F142C2-4DA2-454C-AE31-E5F9591931AB}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{88F142C2-4DA2-454C-AE31-E5F9591931AB}.Release|Any CPU.Build.0 = Release|Any CPU
		{99CFD9C5-FDCE-4B77-B1E2-6ACBE640A956}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{99CFD9C5-FDCE-4B77-B1E2-6ACBE640A956}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{99CFD9C5-FDCE-4B77-B1E2-6ACBE640A956}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{99CFD9C5-FDCE-4B77-B1E2-6ACBE640A956}.Release|Any CPU.Build.0 = Release|Any CPU
		{F8599B1B-0F1F-4B5D-ACF7-B02B3D439532}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{F8599B1B-0F1F-4B5D-ACF7-B02B3D439532}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{F8599B1B-0F1F-4B5D-ACF7-B02B3D439532}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{F8599B1B-0F1F-4B5D-ACF7-B02B3D439532}.Release|Any CPU.Build.0 = Release|Any CPU
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
		SolutionGuid = {027E9BAE-4309-42F1-A7E6-AA956943733A}
	EndGlobalSection
EndGlobal
