<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Inherits="EntityCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="EF Entity" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\..\Common" %>
<%@ Assembly Name="Generator.QuickStart" Path="..\..\..\Common" %>
<%@ Assembly Name="Generator.Microsoft.Frameworks" Path="..\..\..\Common" %>

<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="Generator.QuickStart" %>
<%@ Import Namespace="Generator.Microsoft.Frameworks" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>

<%@ Register Name="CommonService" Template="..\..\CommonService.cst" %>


<%@ Property Category="1.Database" Name="SourceTables" Type="TableSchemaCollection" Description="Danh sách các bảng muốn gen code" %>
<%@ Property Optional="False" Name="ScopeService" Type="System.String" Category="2.Common" Description="Tên dịch vụ" %>
<%@ Property Name="UsingSingularizeString" Type="System.Boolean" Default="true" %>

using  <%=ScopeService %>.Client.Dto;
using  <%=ScopeService %>.DataContext.Entity;
using AutoMapper;
using SB.Core;

namespace <%=ScopeService %>.DataContext.Generated.Configs
{
    public class MappingProfile : Profile
    {
        public MappingProfile()
        {

             <% 
            for (int i = 0; i < SourceTables.Count; i++) {
                var entity = SourceTables[i];
             %>
             
            CreateMap<<%=CommonService.SingularizeString(entity.Name, UsingSingularizeString) %>Dto, <%=CommonService.SingularizeString(entity.Name, UsingSingularizeString) %>>();
            CreateMap<<%=CommonService.SingularizeString(entity.Name, UsingSingularizeString) %>, <%=CommonService.SingularizeString(entity.Name, UsingSingularizeString) %>Dto>();
            
            <% }%>
           

        }
    }
}
