<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Inherits="EntityCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="EF Entity" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="Generator.Microsoft.Frameworks" Path="..\..\Common" %>

<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="Generator.QuickStart" %>
<%@ Import Namespace="Generator.Microsoft.Frameworks" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>
<%@ Property Optional="False" Name="ScopeService" Type="System.String" Category="2.Common" Description="Tên dịch vụ" %>

{
  "ConnectionStrings": {
    "SBCoreConnectStr": "server=dev.pushsale.vn.db;database=EcoSales_Core;uid=ecosale_sa;pwd=l7RU7RQzbdQoBD4Xf1dg;Encrypt=false;TrustServerCertificate=true"
  },
  "AppSettings": {
    "ServerId" : 1,
    "Secret": "IxrAjDoa2FqElO7IhrSrUJELhUckePEPVpaePlS_Xaw",
    "RefreshTokenTTL": 2

  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Redis": {
    "UrlConnect": "125.212.237.62:6379",
    "Pass": "ecosale@6688",
    "InstanceName ": "EcosalePermision"
  },
  "ServiceSettings": {
    "MainServiceUrl": "http://localhost:5001",
    "AuthenServiceUrl": "http://localhost:5001",
    "TrainServiceUrl": "http://localhost:5001"
  },
  "AllowedHosts": "*"
}
