<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Inherits="EntityCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="EF Entity" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\..\Common" %>
<%@ Assembly Name="Generator.QuickStart" Path="..\..\..\Common" %>
<%@ Assembly Name="Generator.Microsoft.Frameworks" Path="..\..\..\Common" %>

<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="Generator.QuickStart" %>
<%@ Import Namespace="Generator.Microsoft.Frameworks" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>

<%@ Property Name="SourceTable" Type="TableSchema"  %>
<%@ Property Optional="False" Name="ScopeService" Type="System.String" Category="2.Common" Description="Tên dịch vụ" %>

using System.Threading.Tasks;
using System;
using SB.Core.Mapper;
using SB.Core;
using SB.Core.Setting;
using SB.Core.ClientHelper;
using SB.Core.Token;
using Microsoft.Extensions.Options;
using Microsoft.AspNetCore.Mvc;

using <%=ScopeService %>.API.Controllers;
using <%=ScopeService %>.DataContext.Entity;
using <%=ScopeService %>.Client.Dto;
using <%=ScopeService %>.Service.Generated;


namespace <%=ScopeService %>.API.Controllers
{
    [Route("api/[controller]")]
    [ApiController]
    public partial class <%=SourceTable.Name %>Controller : BaseDanhMucController<<%=SourceTable.Name %>, <%=SourceTable.Name %>Dto>
    {
        private readonly I<%=SourceTable.Name %>Service _service;
        public <%=SourceTable.Name %>Controller(
           I<%=SourceTable.Name %>Service service
            , IServiceProvider inject
            ) : base(inject, service)
        {
            _service = service;
        }
        
        /// <summary>
        /// Tìm theo điều kiện
        /// </summary>
        /// <param name="gridInfo"></param>
        /// <returns></returns>
        [HttpPost("TimTheoDieuKien")]
        public async Task<IActionResult> TimTheoDieuKienAsync(<%=SourceTable.Name %>FilterDto gridInfo)
        {
            var rs = await _service.TimTheoDieuKienAsync(gridInfo);
            return ResponseResult(rs);
        }
        
    }
}
