<%@ CodeTemplate Language="C#" TargetLanguage="C#" Debug="False" Inherits="EntityCodeTemplate" CompilerVersion="v3.5" Encoding="UTF-8" Description="EF Entity" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.SchemaHelper" Path="..\..\Common" %>
<%@ Assembly Name="Generator.QuickStart" Path="..\..\Common" %>
<%@ Assembly Name="Generator.Microsoft.Frameworks" Path="..\..\Common" %>

<%@ Import Namespace="CodeSmith.SchemaHelper" %>
<%@ Import Namespace="Generator.QuickStart" %>
<%@ Import Namespace="Generator.Microsoft.Frameworks" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Text" %>
<%@ Property Name="SourceTable" Type="TableSchema"  %>

<%@ Register Name="CommonService" Template="..\CommonService.cst" %>
<%@ Property Name="IsVietNameseTableSetting"  Type="System.Boolean" Default="false" Description="Sử dụng tên bảng kiểu VietNam (Ngăn cách nhau bởi dấu _ ) "%>

import { Routes, RouterModule } from '@angular/router';
import { <%=SourceTable.Name%>Component } from './<%=CommonService.GetNameFile(SourceTable.Name,IsVietNameseTableSetting) %>.component';
const routes: Routes = [
    {
        path: '',
        component: <%=SourceTable.Name %>Component
    },
];
export const <%=SourceTable.Name %>Routes = RouterModule.forChild(routes);
<script runat="template">
</script>
